body{
    font-family: "Roboto", sans-serif;
    color: #000;
}
div#navbarSupportedContent ul.navbar-nav {
    justify-content: end;
    display: flex;
    width: 100%;
    padding-right: 60px;
}
p{
    font-weight: 300;
}
a.navbar-brand {
    padding-left: 40px;
}
section.bgtwopart {
    background: url(..//img/profile-bg.png);
    background-position: 30%;
    margin-bottom: 50px;
}
section#footer {
    padding-left: 50px;
    padding-right: 60px;
}
ul.navbar-nav a.nav-link.active {
    color: #0d6efd;
}
.proHome {
    max-width: 375px;
    background: #f4ece6;
    text-align: center;
    box-shadow: 11px 5px 14px #80808033;
}
.footerproHome {
    background: white;
    padding: 20px 2px;
    box-shadow: var(--shd, 0 1px 4px rgb(0 0 0 / 14%));
}
div#homebox {
    max-width: 849px;
    margin: 0 auto;
    padding: 69px 2px 39px 2px;
    margin-top: 122px;
}
.buttonGroup {
    margin-bottom: 30px;
}

p.helloTxt {
    font-size: 100px;
    font-weight: 900;
}
p.helloTxt-des {
    font-size: 25px;
    color: #000;
    font-weight: 400;
}
h1.prohomeName {
    line-height: 1.2em;
    text-align: center;
    font-size: 27px;
}
button.btn {
    border-radius: 20px;
    padding: 6px 34px;
}
h3.prohomePM {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.25em;
    font-weight: 400;
    padding-bottom: 40px;
}
.proHome-social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.proHomeimg {
    padding: 43px 0px 34px 0;
}
.divider:before {
    content: "";
    background: #0d6efd;
    height: 1px;
    top: 0;
    width: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.divider {
    position: relative;
    margin-top: 24px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
h1.proaliTitle {
    text-align: center;
    line-height: 0.95em;
    font-size: 35px;
    margin-bottom: 30px;
}
span.dontprotitle {
    background: #0d6efd;
    height: 20px;
    width: 20px;
    display: inline-flex;
}
section.bgtwopartPages {
    background: #e6dace;
    padding-bottom: 20px;
    margin-top: 120px;
    margin-bottom: 50px;
}
div#insideProfile-box {
    max-width: 850px;
    margin: 0 auto;
}
.ProjectListdata {
    display: flex;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
    background: #fff;
    margin-bottom: 40px;
}
.projectdataleft {
    width: 70%;
}
h3.pnTitle {
    font-size: 25px;
    color: #0d6efd;
    font-weight: bold;
}
.lefttitle {
    position: relative;
    margin: 67px 0px 2px 37px;
}
.projectdataleft p {
    margin: 25px 19px 20px 37px;
    line-height: 30px;
}
.lefttitle:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: -37px;
    background: #0d6efd;
}
.profileListBox {
    margin-bottom: 33px;
}
.exp-btn {
    display: flex;
    justify-content: space-between;
}
nav.navbar.navbar-expand-lg {
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.footerlist p:first-child {
    font-weight: bold;
}
.footerbox {
    display: flex;
    justify-content: end;
    column-gap: 97px;
}
a.navbar-brand {
    line-height: 1em;
    font-size: 25px;
    font-weight: bold;
}
span.pm-task-post {
    font-weight: 400;
}
h4.resume-subtitle {
    font-weight: normal;
    font-size: 20px;
}
h2.pnTitle {
    margin-bottom: 20px;
}
.resume-Desc {
    margin-top: 67px;
    width: 678px;
    font-size: 20px;
    padding-right: 52px;
    padding-bottom: 60px;
}
.listitembox {
    margin: 67px 67px 6px 37px;
    display: flex;
    flex-direction: column;
}
.listitembox:nth-child(2) {
    margin-bottom: 67px;
    margin-top: 22px;
}
.listitembox ul li {
    position: relative;
    list-style: none;
    padding-left: 10px;
    margin-bottom: 20px;
}
.listitembox ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 14px;
    gap: 10px;
}
.listitembox ul li:before {
    background: #0d6efd;
    height: 15px;
    width: 15px;
    position: absolute;
    content: "";
    left: -11px;
    top: 6px;
}
.projectdatbox {
    width: 99%;
}
h2.sub-title-resume {
    font-weight: bold;
}
button.btn.btn-primary:hover {
    background: transparent;
    color: #0d6efd;
}
.lefttitle-no-border {
    position: relative;
    margin: 67px 0px 2px 37px;
}
.ProjectListdata-education {
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
    background: #fff;
    margin-bottom: 40px;
}
.educationList {
    padding: 67px 67px 0px 37px;
    display: flex;
}
.educationList:last-child {
    padding-bottom: 67px;
}
.education-left {
    flex: 0 0 45%;
}
h4.resume-subtitle:nth-child(2) {
    font-weight: 500;
}
h4.resume-subtitle:nth-child(3) {
    font-size:1.1rem;
}
h4.resume-subtitle:nth-child(4) {
    font-size: 1rem;
}
h4.resume-subtitle a {
    color: #000;
}
.education-Desc p {
    font-size: 20px;
}
button.btn.btn-secondary {
    background: transparent;
    color: #333;
}
button.btn.btn-secondary:hover {
    background: #0d6efd;
    color: white;
}
/* START MOBILE */
@media(max-width:767px){
	.footerbox {
    flex-direction: column;
}
.proHome-social {
    justify-content: left;
}
	.col-sm-4, .col-sm-8 {
    flex: 0 0 auto;
    width: 100%;
}
	.listitembox {
    margin-right: 20px;
    margin-left: 10px;
}
.listitembox ul {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
	.education-Desc {
    margin-top: 20px;
}
	.educationList {
    flex-direction: column;
}
	.resume-Desc {
    margin: 35px 98px 2px 37px;
    width: 92%;
    padding-right: 52px;
    padding-bottom: 60px;
}
	.ProjectListdata {
    flex-direction: column;
}
	section.bgtwopart {
    background-position: 0%;
}

    button.navbar-toggler {
        z-index: 99;
    }
    a.navbar-brand {
        display: none;
    }
    div#navbarSupportedContent {
        height: 100vh;
        left: 0;
        background: #f4ece6;
        text-align: center;
        align-items: center;
    }
    div#navbarSupportedContent.navbar-collapse.collapse.show {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
    }
    div#navbarSupportedContent ul.navbar-nav {
        padding-right: 0px;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    ul.navbar-nav a.nav-link {
        font-weight: bold;
        font-size: 24px;
    }
}